{% extends "base.html" %}

{% block header_title %}{{ super() }} - {{ page_title }}{% endblock header_title %}

{% block body_content %}
<div id="page-body" class="page-content">
    <div class="text-center">
        <h2>{{ gettext(page_title) }}</h2>

        <p>{% trans %}Hello World!{% endtrans %}</p>

        {% if page_lang.code not in ['fr'] %}
            <p>There is also a <a href="{{ page_relative_position }}fr/index.html">French version</a>.</p>
        {% endif %}
    </div>
</div>{% endblock body_content %}
