///
/// Color mode toggler for Bootstrap styles
///

.color-mode-switcher {
    position: fixed !important;
    right: 0 !important;
    top: 0 !important;
    margin-bottom: 1rem !important;
    margin-right: 1rem !important;

    &.bd-mode-toggle {
        z-index: 1500;

        .dropdown-menu .active .bi {
            display: block !important;
        }
    }

    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }
}