///
/// Main frontend layout styles
///
/// - Sass sources adopt the ITCSS structure convention;
/// - This includes Bootbutt library which is an addon around Bootstrap for some sugar;
/// - Bootstrap variables and utilities structure require pre/post settings way to avoid
///   overriding too many variables when you just want to set a top level variable;
///
/// WARNING: DO NOT ADD ANY STYLE RULE HERE, instead add them in an accurate module to
/// import
///

@import "settings/site";
@import "settings/bootstrap";

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";
@import "./tools/flexbox";

// Generic rules
@import "./generic/html";
@import "./generic/body";

// Elements rules
// @import "./elements/...";

// Objects
@import "./objects/applications";
@import "./objects/callout";
@import "./objects/color-mode";
@import "./objects/theming";

// Components
@import "./components/header";
@import "./components/footer";
@import "./components/content";

@import "themes";

// Trumps patchs
// @import "./trumps/...";
